* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2%;
}

.auto-child-width {
  width: auto;
}
.center {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
.gap-sm {
  gap: 0.5rem;
}
.gap-md {
  gap: 1rem;
}
.gap-lg {
  gap: 2rem;
}
.gap-xl {
  gap: 4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.navbar {
  list-style-type: none;
  display: flex;
}
.width-sm {
  max-width: 20rem;
}
.width-med {
  max-width: 40rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

label {
  font-weight: bold;
}
body {
  background: rgb(241, 223, 231);
  background: radial-gradient(
    circle,
    rgba(241, 223, 231, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: ghostwhite;
}

/*_________________________________*/
#TAB-OBJECT-CSS
/*_________________________________*/
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tabcontent {
  color: white;
  padding: 50px;
  text-align: center;
}

#adam {
  background-color: #4579b6;
}
#juliette {
  background-color: #c19bec;
}
