.auto-child-width {
  width: auto;
}
.center {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
.gap-sm {
  gap: 0.5rem;
}
.gap-md {
  gap: 1rem;
}
.gap-lg {
  gap: 2rem;
}
.gap-xl {
  gap: 4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}
.flex {
  display: flex;
}
.inline {
  display: inline;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-evenly {
  justify-content: space-evenly;
}
.navbar {
  list-style-type: none;
  display: flex;
}
.width-sm {
  max-width: 20rem;
}
.width-med {
  max-width: 40rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

label {
  font-weight: bold;
}
body {
  background: #1a1b41ff;
  color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
}

/*_________________________________*/
/* #TAB-OBJECT-CSS */
/*_________________________________*/
/* style the tab buttons */
.hidden {
  display: none;
}
.tablink {
  background-color: #6290c3ff;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #baff29ff;
  color: #1a1b41ff;
}

.tabcontent {
  color: white;
  padding: 50px;
  text-align: center;
}

#Adam {
  background-color: #6290c3ff;
}
#Juliette {
  background-color: #c2e7daff;
  color: #1a1b41ff;
}
